@import url(../css/animation.css);
@import url(../css/typography.css);
@import url(../css/animation.css);

@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
      
div{
  font-family: 'Questrial', sans-serif;
}   

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}